body {
  background-color: #fff1d7 !important;
}
.row-header {
  margin: 0px auto;
  padding: 0px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  min-height: 400px;
}

.borderBottom{
  border-bottom: 1px ridge rgb(145, 143, 141);
}

.footer {
  background-color: #f7b27e;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #fd604b !important;
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark {
  color: floralwhite;
  background-color: #885b1f;
}

.send {
  padding-bottom: 15px;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.carousel {
  background:#f3aa23;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
  position: absolute;
  min-height: 300px;
}

#carouselButton{
  right:0px;
  position: absolute;
  bottom:0px;
  z-index: 1;
}

.modal-header{
  background-color:#fd604b;
}

.modal-body{
  background-color:#fff1d7;
}

.close.cross{
  color:#fff1d7 ;
}

.modal-title{
  color:floralwhite;
}

